<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @address.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @address.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @address.title %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
